<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteAuth">
    <test name="checkApiLogin">
        <parameter name="username" value="john_dow@some.domaine.com"/>
        <parameter name="password" value="123456789"/>
        <classes>
            <class name="ru.Calc.InterviewTaskTest"/>
        </classes>
    </test> <!-- Annotations -->

    <test name="group test UI">
        <groups>
            <run>
                <include name="testUI"/>
            </run>
        </groups>
        <classes>
            <class name="ru.Calc.InterviewTaskTest"/>
        </classes>
    </test>

</suite> <!-- Suite -->

